.Comment{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.zone-txt{
    /* max-width:80%; */
    flex: 0 0 75%;
    margin-top: 0.5rem;
}
.btn-envoyer{
    flex: 0 0 15%;
    width: 150px;
    background-color: white;
    border-radius: 8px;
    color: #85586F;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 0.5;  */
    height: 1.8rem;
    margin-top: 0.5rem;
}
.titre-publier-new-comment{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}