.TaskBox {
    z-index: 1;
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
    /*optional bg color*/
    background-color: #D0B8A8;
    /*the following isn't necessary but will help center everything once we add buttons*/
    display: flex;
    flex-direction: column;
  }