.TaskList {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 1rem;
    min-width: 30%;
    position: relative;
    background-color: rgba(223, 211, 195, 40%);
    padding-bottom: 2rem;
    height: fit-content;
    box-shadow: 3px 3px 4px 1px rgba(85, 85, 85, 0.2);
    z-index: 0;

}

.TaskList-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: #85586F;
}

.TaskList-icon {
    font-size: 1rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    /* color: #85586F; */
    cursor: pointer;

    width: 1em;
    height: 1em;
    padding: 0.1rem;
    border-radius: 50px;
    background-color: #85586F;
    color: white;
    display: flex; /* s'assurer que le contenu est centré horizontalement */
    justify-content: center; /* centrer horizontalement le contenu */
    align-items: center; /* centrer verticalement le contenu */
    align-self: center; /* centrer le bouton verticalement dans la case de la grille */
    justify-self : right;
}