.NoProject {
    width: 100%;
    text-align: center;
    /* left: 50%;
    top: 50%;
    transform: translateY(45%); */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}
