.Project {
    width: 100%;
    margin: 2rem;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 4px 1px rgba(85, 85, 85, 0.2);
    z-index: initial;
    position: relative;
}

.Project-tasklist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.Project-title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: #85586F;
}

.FondTranslucide {
    /* background-color: rgba(223,211,195, 0.9);  */
    background-color: rgba(255,255,255, 0.9); 
    /* background-color: rgba(248, 237, 227, 0.9); */
    z-index: 10;
}

.ChildTransparent {
    opacity: 0.33;
}