.Project {
    width: 100%;
    /* background-color: white; */
}

.Project-tasklist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Project-title {
    font-size: 1.5rem;
    text-align: center;
}