.Project {
    width: 100%;
    margin: 2rem;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 4px 1px rgba(85, 85, 85, 0.2);
}

.Project-tasklist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.Project-title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: #85586F;
}