.UserTaskList-users {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.5rem;
}

.UserTaskList-button {
    position: absolute;
    top : 3rem;
    right: 2rem;
    background-color: white;
    color: #85586F;
    padding: 0.3rem 1rem;
    border-radius: 8px;
    font-weight: bold;
}
h3{
    display: block;
    font-size: 1.2em;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}