.DescriptionWrap{
    display: flex;
    flex-direction: column;
}

.Description{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
.Description2{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}