.Task {
    margin-top: 1vh;
}

.Task-name {
    font-size: 1.33rem;
}

.Task-description {
    font-size: 0.8rem;
}

.Task-icon {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    color: #85586F;
}