.Task {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
}

.Task-name {
    font-size: 1rem;
}

.Task-description {
    font-size: 0.7rem;
}

.Task-icon {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    color: #85586F;
}