.Task {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    border-radius: 10px;
}

.Task-name {
    font-size: 1.33rem;
}

.Task-description {
    font-size: 0.8rem;
}

.Task-icon {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    color: #85586F;
}