.UpdateTask{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bouton{
    border-radius: 8px;
    padding: 0.3rem 1rem;
    background-color: white;
    color: #85586F;
    font-weight: bold;
    margin-top: 1rem;
    width: 30%;
    text-align: center;
}
.bouton2-update-task {
    position: absolute;
    bottom : 2rem;
    right: 2rem;
    background-color: #85586F;
    color: white;
    /* padding: 0.2rem 0.2rem; */
    /* border-radius: 8px; */
    /* width: 30%; */
    text-align: center;
    margin-top: 1rem;
}
.wrap-boutons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MenuDeroulant{
    text-align: center;
    width: 30%;
    margin-bottom: 1rem;
}
.TitreCommentaires{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}