.Navbar {
    display: grid;
    /*grid-template-columns: 1fr 1fr 8fr 1fr 1fr;*/
    grid-template-columns: repeat(8, 1fr);
    /*grid-template-rows: 1fr;*/
    grid-template-rows: 5vh;
    grid-gap: 5px;
    width: 100vw;
    /*height: 5vh;*/
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Atkinson Hyperlegible";
    /* line-height: center; centrer verticalement le texte */
}

.logo{
    /*grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 1;*/
    grid-column: 1 / span 1;
    /* grid-row: 100%; */
    width: 100%;
    height: auto;
    display: flex; /* s'assurer que le contenu est centré horizontalement */
    justify-content: center; /* centrer horizontalement le contenu */
    align-items: center; /* centrer verticalement le contenu */
    /*align-self: center;  centrer le bouton verticalement dans la case de la grille */
}

.bouton0{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
    height: 100%;
    background-color: white;
    width: auto;
    margin: 0px 5px 0px 5px;
    display: flex; /* s'assurer que le contenu est centré horizontalement */
    justify-content: center; /* centrer horizontalement le contenu */
    align-items: center; /* centrer verticalement le contenu */
    align-self: center; /* centrer le bouton verticalement dans la case de la grille */
}

.bouton1{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 1;
    height: 100%;
    background-color: white;
    width: auto;
    margin: 0px 5px 0px 5px;
    color: #85586F;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex; /* s'assurer que le contenu est centré horizontalement */
    justify-content: center; /* centrer horizontalement le contenu */
    align-items: center; /* centrer verticalement le contenu */
    align-self: center; /* centrer le bouton verticalement dans la case de la grille */
    /*border:solid #85586F 1px;*/
}

.bouton2{
    grid-column-start: 7;
    grid-row-start: 1;
    grid-column-end: 8;
    grid-row-end: 1;
    height: 1.5em;
    background-color: #85586F;
    width: auto;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
    color: white;

    display: flex; /* s'assurer que le contenu est centré horizontalement */
    justify-content: center; /* centrer horizontalement le contenu */
    align-items: center; /* centrer verticalement le contenu */
    align-self: center; /* centrer le bouton verticalement dans la case de la grille */
}
.bouton3{
    grid-column-start: 8;
    grid-row-start: 1;
    grid-column-end: 9;
    grid-row-end: 1;
    height: 1.5em;
    background-color: #85586F;
    width: auto;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
    color: white;
    display: flex; /* s'assurer que le contenu est centré horizontalement */
    justify-content: center; /* centrer horizontalement le contenu */
    align-items: center; /* centrer verticalement le contenu */
    align-self: center; /* centrer le bouton verticalement dans la case de la grille */
}
.membre{
    grid-column-start: 8;
    grid-row-start: 1;
    grid-column-end: 9;
    grid-row-end: 1;

    width: 1.5em;
    height: 1.5em;
    border-radius: 50px;

    background-color: #85586F;
    margin: 0px 5px 0px 5px;
    color: #F8EDE3;
    display: flex; /* s'assurer que le contenu est centré horizontalement */
    justify-content: center; /* centrer horizontalement le contenu */
    align-items: center; /* centrer verticalement le contenu */
    align-self: center; /* centrer le bouton verticalement dans la case de la grille */
    justify-self : center;
}