/* body{
    margin: 0;
    padding: 0;
} */
/* .createAccount {
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
} */
/* .para1 {
    margin-top: 20px;
    color: #000000;
}
.para2{
    text-align: left;
    padding-left: 60px;
} */
/* .commencer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 36px;
    background-color: #85586F;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
} */